img {
  border: 0px solid white !important;
  box-shadow: none !important;
  max-height: 75% !important;
  text-align: center;
  margin: 0 auto !important;
}

.title-slide h1,
.title-slide h4 {
  color: #DDD !important;
  text-shadow: 0 0 1px #000, 0 0 5px #444, 0 0 10px #000 !important;
}

.title-slide section {
  color: #FFF !important;
  text-shadow: 0 0 1px #000, 0 0 5px #444 !important;
}

.title-slide .backgrounds {
  filter: blur(5px);
}

.big {
  border: 2px solid black !important;

  transform: scale(1.3) rotate(0.5deg);
}